.header {
  background-color: #fff;
  min-width: 24rem;
  max-width: 88rem;
  margin: 0 auto;
  padding: 1.25rem 1.5rem;
}

.headerWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 73rem;
  margin: 0 auto;
}

.logo {
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff;
}

.mainNav {
  display: flex;
}

.navList {
  height: 100%;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainNavLink {
  color: #0a344e;
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
}

.mainNavLink:hover {
  color: #2c375b;
  border-bottom: 3px solid #2c375b;
}

.profileIcon {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
}

[aria-current='page'] {
  font-weight: 700;
}

@media (min-width: 42rem) {
  .headerWrapper {
    flex-direction: row;
    gap: 6rem;
    justify-content: flex-start;
  }

  .mainNav {
    justify-content: center;
  }

  .navList {
    flex-direction: row;
    align-items: center;
  }
}
